@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

.header-font {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  --max-width: 78rem;

  --yellow: #ffd97e;
  --white: #faeee0;
  --blue: #afd0f3;
  --blue-green: #12a59f;
  --red: #e94b3f;
  --green: #dbdfbc;
  --dark-green: #2e6635;
  --pink: #ffc1c6;
  --violet: #b6ace4;

  margin: 0;
  background: #faeee0;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  line-height: 1.8rem;
  font-size: 16pt;
  font-style: normal;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.btn {
  max-width: fit-content;
  height: 4rem;
  font-size: 28pt;
  border-radius: 3rem;
  text-transform: lowercase;
  padding-inline: 3rem;
}

.play-button {
  border: none;
  background-color: var(--red);
  color: var(--white);
  transition: all 0.2s ease-in;
}

.play-button:hover {
  background-color: var(--blue-green);
  transform: scale(1.1);
  cursor: pointer;
}
