.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 18rem;
}

.navbar {
  padding-inline: 0;
  li {
    display: inline;
    margin-right: 1rem;
    font-size: 1.5rem;
  }
  a {
    text-decoration: none;
  }
}
