.lobby-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  min-height: 100vh;

  .lobby-container {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    gap: 5rem;
    background-color: var(--yellow);
    max-width: 75rem;
    min-height: 42rem;
    border-radius: 1.5rem;
    padding: 1.4rem;
    margin: 1rem;

    .lobby-list {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      margin-inline: 1rem;
    }

    .lobby-settings {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      margin-inline: 1rem;
      max-width: 34rem;
      justify-content: space-evenly;

      .room-code-text {
        font-size: 3rem;
        line-height: 3.5rem;
      }

      .picker-container {
        margin-bottom: 4rem;

        .rounds-container,
        .icons-container {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          max-width: 26rem;
          font-size: 1.8rem;
        }
      }

      .start-btn-container {
        display: flex;
        flex-direction: row-reverse;
        padding-right: 3rem;

        button:disabled {
          background-color: var(--green);
        }

        button:disabled:hover {
          transform: none;
        }
      }
    }
  }
}
