.contact-form-container {
  padding: 3rem;
  display: flex;
  flex-grow: 1;
  max-width: 36rem;
  min-height: 42rem;
  background: url("../../../images/blob.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;

  .contact-form {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    margin: 1rem auto;
    max-width: 27rem;
    gap: 1.7rem;

    textarea {
      resize: none;
      min-height: 10rem;
      border-radius: 2.4rem;
      scrollbar-color: var(--white) var(--yellow);
      font-family: "Karla", sans-serif;
    }

    input {
      min-height: 3rem;
      border-radius: 4rem;
    }

    textarea,
    input {
      font-size: 14pt;
      padding: 1rem 1.5rem;
      border: none;
      background-color: var(--white);
    }

    input::placeholder,
    textarea::placeholder {
      color: rgb(56, 56, 56);
    }

    textarea,
    input:focus {
      outline: none;
    }
  }
}

@media (width < 600px) {
  .contact-form-container {
    padding: 1rem 2.9rem;

    .contact-form {
      textarea,
      input {
        font-size: 12pt;
        padding: 1rem 1rem;
        border: none;
        background-color: var(--white);
      }

      button {
        font-size: 16pt;
      }
    }
  }
}
