.gameplay-container {
  height: 100vh;

  .overlay {
    background-color: var(--red);
    position: absolute;
    z-index: 10;
    height: 100vh;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    .go-image {
      background-image: url("../../../public/images/countdown/go.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 50%;
      height: 100vh;
    }
  }

  .gameplay-page-container {
    display: flex;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--violet);
  }
}
