.gameplay-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  .overlay {
    background-color: var(--red);
    background-image: url("../../../public/images/countdown/go-icon.svg");
    background-size: 4rem;
    background-repeat: repeat;
    background-blend-mode: overlay;
    position: absolute;
    z-index: 10;
    height: 100vh;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    .go-image {
      background-image: url("../../../public/images/countdown/go.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 50%;
      height: 100vh;
    }
  }

  .gameplay-page-container {
    display: flex;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--violet);
  }
}

@media (max-width: 768px) {
  .gameplay-container {
    .gameplay-page-container {
      flex-wrap: wrap;
    }
  }
}
