.user-list-item-container {
  display: flex;
  justify-content: space-between;
  padding-inline: 1.5rem;
  width: 23rem;
  height: 4.5rem;
  line-height: 4.5rem;
  border-bottom: 3px solid var(--green);
  background-color: var(--white);

  p {
    margin-block: 0;
  }
}
