.navbar-container {
  padding-top: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  margin-inline: auto;
  max-width: var(--max-width);
  font-size: 20pt;

  img {
    width: 4.7rem;
    transition: transform 0.3s ease-in;
  }

  img:hover {
    transform: scale(1.1);
  }

  button {
    width: 8rem;
    height: 3rem;
    border-radius: 3rem;
    font-size: 20pt;
    text-transform: lowercase;
    a {
      color: var(--white);
    }
  }

  ul {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    text-transform: lowercase;

    .nav-link {
      color: black;
    }

    .nav-link::after {
      content: "";
      background-color: black;
      border-radius: 1rem;
      display: block;
      transform: scaleX(0);
      height: 0.35rem;
      transition: transform 0.3s ease-in;
    }

    .nav-link:hover::after,
    .active::after {
      transform: scaleX(1);
    }
  }
}

@media (width < 600px) {
  nav {
    ul {
      display: none;
    }
  }
}
