.join-room-container {
  display: flex;
  flex-direction: column;
  max-width: 28rem;
  align-items: center;
  gap: 1.2rem;
  margin: 5rem auto;
  padding: 4rem 3rem;
  border-radius: 3rem;
  background-color: var(--yellow);

  input {
    min-height: 2.7rem;
    border-radius: 4rem;
    display: block;
    width: 100%;
    font-size: 14pt;
    padding: 1rem 1.5rem;
    border: none;
    font-family: "Karla", sans-serif;
  }

  input:focus {
    outline: none;
  }

  .join-input {
    display: flex;
    margin-bottom: 1rem;

    input {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }

    button {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }

  button {
    color: white;
  }
}
